@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}

/* preloader design */
/*===== Page Loader =====*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: #fff;
}

#cooking {
  height: 250px;
  left: 50%;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 350px;
}

#cooking .bubble {
  position: absolute;
  border-radius: 100%;
  box-shadow: 0 0 0.25vh #4d4d4d;
  opacity: 0;
}

#cooking .bubble:nth-child(1) {
  margin-top: 2.5vh;
  left: 58%;
  width: 2.5vh;
  height: 2.5vh;
  background-color: #454545;
  animation: bubble 2s cubic-bezier(0.53, 0.16, 0.39, 0.96) infinite;
}

#cooking .bubble:nth-child(2) {
  margin-top: 3vh;
  left: 50%;
  width: 2vh;
  height: 2vh;
  background-color: #3d3d3d;
  transform: translate(-50%);
  animation: bubble 2s ease-in-out .35s infinite;
}

#cooking .bubble:nth-child(3) {
  margin-top: 1.8vh;
  left: 50%;
  width: 1.5vh;
  height: 1.5vh;
  background-color: #333;
  animation: bubble 1.5s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.55s infinite;
}

#cooking .bubble:nth-child(4) {
  margin-top: 2.7vh;
  left: 56%;
  width: 1.2vh;
  height: 1.2vh;
  background-color: #2b2b2b;
  animation: bubble 1.8s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.9s infinite;
}

#cooking .bubble:nth-child(5) {
  margin-top: 2.7vh;
  left: 63%;
  width: 1.1vh;
  height: 1.1vh;
  background-color: #242424;
  animation: bubble 1.6s ease-in-out 1s infinite;
}

#cooking #area {
  animation: 2.1s ease-in-out 0s normal none infinite running flip;
  background-color: transparent;
  bottom: 0;
  height: 50%;
  left: 130px;
  position: absolute;
  transform-origin: 15% 60% 0;
  width: 50%;
}

#cooking #area #sides {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: 15% 60%;
  animation: switchSide 2.1s ease-in-out infinite;
}

#cooking #area #sides #handle {
  position: absolute;
  bottom: 18%;
  right: 80%;
  width: 35%;
  height: 20%;
  background-color: transparent;
  border-top: 1vh solid #333;
  border-left: 1vh solid transparent;
  border-radius: 100%;
  transform: rotate(20deg) rotateX(0deg) scale(1.3, 0.9);
}

#cooking #area #sides #pan {
  position: absolute;
  bottom: 20%;
  right: 30%;
  width: 50%;
  height: 8%;
  background-color: #333;
  border-radius: 0 0 1.4em 1.4em;
  transform-origin: -15% 0;
}

#cooking #area #pancake {
  position: absolute;
  top: 24%;
  width: 100%;
  height: 100%;
  transform: rotateX(85deg);
  animation: jump 2.1s ease-in-out infinite;
}

#cooking #area #pancake #pastry {
  position: absolute;
  bottom: 26%;
  right: 37%;
  width: 40%;
  height: 45%;
  background-color: #333;
  box-shadow: 0 0 3px 0 #333;
  border-radius: 100%;
  transform-origin: -20% 0;
  animation: fly 2.1s ease-in-out infinite;
}

@keyframes jump {
  0% {
    top: 24%;
    transform: rotateX(85deg);
  }

  25% {
    top: 10%;
    transform: rotateX(0deg);
  }

  50% {
    top: 30%;
    transform: rotateX(85deg);
  }

  75% {
    transform: rotateX(0deg);
  }

  100% {
    transform: rotateX(85deg);
  }
}

@keyframes flip {
  0% {
    transform: rotate(0deg);
  }

  5% {
    transform: rotate(-27deg);
  }

  30%,
  50% {
    transform: rotate(0deg);
  }

  55% {
    transform: rotate(27deg);
  }

  83.3% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes switchSide {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}

@keyframes fly {
  0% {
    bottom: 26%;
    transform: rotate(0deg);
  }

  10% {
    bottom: 40%;
  }

  50% {
    bottom: 26%;
    transform: rotate(-190deg);
  }

  80% {
    bottom: 40%;
  }

  100% {
    bottom: 26%;
    transform: rotate(0deg);
  }
}

@keyframes bubble {
  0% {
    transform: scale(0.15, 0.15);
    top: 80%;
    opacity: 0;
  }

  50% {
    transform: scale(1.1, 1.1);
    opacity: 1;
  }

  100% {
    transform: scale(0.33, 0.33);
    top: 60%;
    opacity: 0;
  }
}

/* preloader design */
/* Header design */
.header {
  background: linear-gradient(to bottom, rgb(22, 22, 22), rgb(41, 45, 46));
  padding: 15px;
}

.icons i {
  font-size: 20px;
  color: rgb(187, 187, 187);
}

.icon-background {
  display: flex;
}

.review,
.social-links {
  border-right: 2px solid rgb(122, 122, 122);
}

.sign-buttons a {
  background: rgb(230, 136, 28);
}

.review:hover,
.help:hover,
.social-links i:hover,
.signin-icons:hover {
  cursor: pointer;
  color: rgb(234, 27, 37) !important;
}

/* Header design */
/* Navigation bar */
.navigation-bar .link p {
  color: rgb(234, 27, 37);
}

.navigation-bar .link h6 {
  font-size: 18px;
}

.navigation-bar .link h6 a:hover,
.navigation-bar .link h6 a.active {
  color: #FFBD35 !important;
}

/* Navigation bar */
/* Hamburger menu */
#mobile-menu {
  display: none;
}

.ham-header {
  background: rgb(29, 29, 29);
}

.profile img {
  width: 80px;
}

.user-name p {
  font-size: 1.5em;
}

.mobile-side-menu {
  background: linear-gradient(to bottom, rgb(22, 22, 22), rgb(41, 45, 46));
  width: 300px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 1;
}

.menu-list ul li span {
  color: rgb(247, 147, 30);
  font-size: 0.75em;
}

.menu-list ul li a {
  font-size: 1.125em;
  color: #fff;
  font-weight: bold;
}

.menu-list ul li a::after {
  content: '';
  display: block;
  margin-top: 10px;
  width: 100px;
  height: 1px;
  background: rgb(171, 171, 171);
}

.toggle-btn {
  color: #fff !important;
  font-size: 1.25em;
  outline: none !important;
}

.side-bar-animation {
  animation-name: show;
  animation-duration: .4s;
}

@keyframes show {
  from {
    right: -300px;
    opacity: 0;
  }

  to {
    right: 0;
    opacity: 1;
  }
}

/* Hamburger menu */
/* Body design */
.content {
  top: 30%;
  left: 50%;
  transform: translate(-40%);
  width: 60%;
  margin: auto;
}

.content h2 {
  color: #fff;
  font-size: 60px;
  max-width: 80%;
  display: inline-block;
  line-height: 60px;
  margin-bottom: 0;
  font-weight: bold;
  text-shadow:
    0 -1px 0 #fff,
    0 1px 0 #2e2e2e,
    0 2px 0 #2c2c2c,
    0 3px 0 #2a2a2a,
    0 4px 0 #282828,
    0 5px 0 #262626,
    0 6px 0 #242424,
    0 7px 0 #222,
    0 8px 0 #202020,
    0 9px 0 #1e1e1e,
    0 10px 0 #1c1c1c,
    0 11px 0 #1a1a1a,
    0 12px 0 #181818,
    0 13px 0 #161616,
    0 14px 0 #141414,
    0 15px 0 #121212,
    0 22px 30px rgba(0, 0, 0, 0.9);
}

.image img {
  object-fit: cover;
  background-size: cover;
  height: 750px;
}

.span-text {
  font-family: Great Vibes;
  font-size: 60px;
  font-weight: normal;
}

.text h5 {
  font-size: 25px;
}

.details {
  transform: translate(-5%);
}

.content-image {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 5px 20px;
  height: 70px;
}
.bottom-clouds-mockup,.scooter {
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  width: 100%;
}

/* Body design */
/* description design */
.description-content h3,
.gallery h3 {
  color: rgb(234, 27, 37);
  font-family: Great Vibes;
}

.description-content p {
  color: #6f6f6f;
}

/* description design */
/* food items design */
.food-items .row #rating {
  left:10px;
  top: 10px;
  background: #FFBD35;
}
.food-items .row .whishlist{
  right:10px;
  top:10px;
  color: rgb(255, 189, 53);
}
.food-items .row .whishlist:hover{
  color: rgb(0, 0, 0);
}
.next a{
  font-size: 20px;
}
.food-items .row img:hover,
.gallery img:hover {
  transition: .4s ease-in-out;
  cursor: pointer;
  transform: translate(0, -5%);
}
.food-items .menu-shapes-left{
  position: absolute;
  left: 0%;
  top: 0%;
}
/* food items design */
/* food catagory and menu design */
.menu-section {
  background: url(../images/menu.png);
  background-size: cover;
}
.menu-section .nav-tabs {
  border: 0;
}
.menu-shapes-left {
  position: absolute;
  left: 0%;
  top: 10%;
}

.menu-shapes-middle {
  position: absolute;
  right: 1%;
  bottom: 38%;
  animation: bounce 3s infinite ease-in-out;
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  100% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.menu-shapes-right {
  position: absolute;
  right: 0;
  top: 2%;
  width: 100px;
  opacity: .6;
}
.menu-section .menu-shapes-right{
  opacity: .3;
}
.menu-section .nav-link {
  margin: 0 10px;
  padding: 10px;
  transition: 0.3s;
  color: #37373f;
  cursor: pointer;
  height: 100%;
  border: 2px solid rgb(255, 189, 53) !important;
}

.menu-section .nav-link.active,
.menu-section .nav-link:hover {
  background: rgb(255, 189, 53) !important;
  color: #fff !important;
}

.menu-section .nav-link i {
  padding-right: 15px;
  font-size: 48px;
}

.menu-section .nav-link h4 {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.menu-section .tab-content .menu-item {
  text-align: center;
}

.menu-section .tab-content .menu-item .menu-img {
  padding: 0 60px;
  margin-bottom: 15px;
}

.menu-section .tab-content .menu-item h4 {
  font-size: 22px;
  font-weight: 500;
  color: #37373f;
  font-weight: 30px;
  margin-bottom: 5px;
}

.menu-section .tab-content .menu-item .ingredients {
  color: #8d8d9b;
  margin-bottom: 5px;
}

.menu-section .tab-content .menu-item .price {
  font-size: 24px;
  font-weight: 700;
  color: #ce1212;
}
.menu-section .tab-content .menu-item .price a:hover{
  color: #ce1212;
}
.prod-image img {
  width: 150px;
  height: 120px;
}

.catagory #rating {
  height: 30px;
  color: #fff;
  background: #FFBD35;
}

.del-time img {
  width: 30px;
  height: 30px;
}

/* food catagory design */
/* contact design */
.contact-container,.feedback {
  width: 60%;
  margin: 0 auto;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
}

.contact-form {
  width: 100%;
  height: auto;
}

.address-info {
  width: 35% !important;
}

.upper-address-info,
.help-info {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
}

.head-bottom::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #cdcdcd;
  margin: 15px 0;
}

.upper-address-info h5,
.bottom-address-info a {
  font-weight: 300;
  font-size: 18px;
}

.address-info .help-info img {
  width: 70px;
  height: 70px
}

/* contact design */
/* section feedback form design starts */
.feedback-form h3 {
  font-weight: bold;
}

.feedback-form p svg:hover {
  fill: #FFBD35;
}

.feedback-form .row .column {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.feedback-container .column:hover {
  border: 4px solid rgba(0, 0, 0, 0.24);
}

.feedback-container h3::after,
.feedback-container .row::after,
.feedback-form .text-end::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 10px;
  background: rgba(0, 0, 0, 0.3);
}

/* section feedback form design */
/* section testimonials design */
.client-img {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border: 4px solid #fff;
  margin: 0px auto 20px;
  border-radius: 100%;
}
.carousel-content {
  padding: 50px 0px;
}
.carousel-content h3 span {
  font-size: 17px;
  font-weight: normal;
  color: #e8e8e8;
  text-transform: uppercase;
}
.client-img img {
  width: 100%;
}
#testimonial {
  text-align: center;
  padding: 40px 0px;
  color: #fff;
}
#testimonial .carousel-control-prev,
#testimonial .carousel-control-next {
  font-size: 36px;
}
#testimonial h2 {
  font-size: 40px;
  font-style: italic;
  border-bottom: 1px solid #7fbdff;
  padding-bottom: 20px;
  display: inline-block;
}
/* section testimonials design */
/* footer design */
.footer {
  font-size: 15px;
  background-color: #1f1f24;
  padding: 50px 0;
  color: rgba(255, 255, 255, 0.7);
}

.footer .icon {
  margin-right: 15px;
  font-size: 24px;
  line-height: 0;
}

.footer h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 5px;
  color: #fff;
}

.footer .footer-links {
  margin-bottom: 30px;
}

.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul a {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-links ul a:hover {
  color: #fff;
}

.footer .footer-social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 10px;
  transition: 0.3s;
}

.footer .footer-social-links a:hover {
  color: #fff;
  border-color: #fff;
}

.footer .copyright {
  text-align: center;
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .credits,.footer .greeting {
  padding-top: 4px;
  text-align: center;
  font-size: 13px;
}
/* footer design */
/* Responsive design */
@media(max-width:1200px) {

  .address-info,
  .contact-container {
    width: 100% !important;
  }
}

@media (max-width:767px) {
  .header {
    flex-direction: column;
  }

  .left-header,
  .right-header {
    justify-content: center;
    padding: 10px;
  }

  #navbar,
  .hide-right-header {
    display: none !important;
  }

  #mobile-menu {
    display: block;
  }

  .bottom-clouds-mockup {
    bottom: -15px;
  }
   .content {
    width: 100% !important;
  }

}

@media(max-width:600px) {
  .description-content>.container .details {
    width: 80%;
    margin: auto;
  }
  .menu .nav-link {
    margin: 0 10px;
    padding: 10px 0;
  }
  .menu .nav-link h4 {
    font-size: 16px;
  }
  .scooter img {
    margin-bottom: -40px;
  }
  .content{
    top:20%;
  }
  .content .span-text{
    display: block;
    margin-top: 10px;
  }
}

/* Responsive design */